<% content_for :title, 'Home'%>

<% content_for :content do %>
  <div data-controller="hello">
    <h1 data-target="hello.output"></h1>
  </div>
  <i class="fab fa-freebsd fa-3x mx-2"></i>
<% end %>